<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <body>
    <div id="app">
  <%- include('../partials/menu'); %>

    </div>
  </body>
  <%- include('../partials/footer'); %>
</body>
</html>